body{
    background-image:url('background.mp4');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

#logo{
    width: 300px;
    height: auto;
}