body{
    background-image:url('background.mp4');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

#logo{
    width: 300px;
    height: auto;
    padding-bottom: 300px;
    display: inline-block;
}

html{
    -webkit-user-select: none; /* safari */
    -ms-user-select: none; /* ie 10 and ie 11 */
    user-select: none; /* standard syntax */
}
/*3dlerin highlight edilmesini önledim*/
/*sakın silme*/

model-viewer{
    width:600px;
    height:600px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}

#left{
    width: 75px;
    height: 75px;
    padding-bottom: 200px;
    position: absolute;
    left: 275px; /* Adjust this value to move the image */
    top: 335px;
}

#right{
    width: 75px;
    height: 75px;
    padding-bottom: 200px;
    padding-left: 800px;
}

#go-to-planet {
    position: absolute;
    left: 50%;
    bottom: 20px; /* Adjust as needed */
    transform: translateX(-50%);
}