body{
    background-image:url('background.mp4');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

#logo{
    width: 300px;
    height: auto;
    padding-bottom: 300px;
    display: inline-block;
}

html{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/*3dlerin highlight edilmesini önledim*/
/*sakın silme*/

model-viewer{
    width:600px;
    height:600px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}