html{
    padding: 0;
    margin: 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
/*3dlerin highlight edilmesini önledim*/
/*sakın silme*/

body{
    background-image: url('background.mp4');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

#my-logo-img{
    display: inline-block;
    width: 30vh;
    height: auto;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container model-viewer{
    order: 2;
    width: 600px;
    height: 600px;
}

.flex-container img{
    width: 50px;
    height: 50px;
}

.left-div {
    order: 1;
}

.right-div {
    order: 3;
}

#earth{
    order: 2;
}

#jupiter, #mars, #mercury, #neptune, #pluto, #saturn, #uranus, #venus{
    order: 2;
    display: none; 
}

/*
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.navigation img {
    padding-top: 8em;
    width: 75px;
    height: 75px;
    top: 300px;
}

.navigation #left {
    padding-left: 5em;
}

.navigation #right {
    padding-right: 5em;
}

#go {
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;
}

model-viewer{
    width:600px;
    height:600px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}

#earth {
    width:600px;
    height:600px;
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

#jupiter, #mars, #mercury, #neptune, #pluto, #saturn, #uranus, #venus{
    width:600px;
    height:600px;
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}
*/

/*
#mars {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}

#mercury {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}

#neptune {
    width: 600px;
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
}

#pluto {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}

#saturn {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}

#uranus {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}

#venus {
    width: 600px; 
    height: 600px; 
    display: none; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px; 
}
*/