* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
    padding-right: 60%;
}

.todo-container,
iframe #spotify {
    width: 300px;
    height: 300px;
    background-color: #2d2d34;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-bottom: 20px;
}

.todo-container {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #a1a1a6;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #3b3b45;
    color: #a1a1a6;
}

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul li.completed .task-text {
    text-decoration: line-through;
    color: #a1a1a6;
}

ul li .checkbox {
    margin-right: 10px;
}

ul li .task-text {
    flex-grow: 1;
}

ul li .delete {
    color: red;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

ul li .delete:hover {
    color: darkred;
}

iframe #spotify {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

iframe{
    display: inline-block;
    width: 300px;
    height: 400px;
}

/* desktop ekran genişliği */
@media (min-width: 1024px) {
    
}

/* ortalama dizüstü bilgisayar ekran genişliği */
@media (max-width: 1024px) and (min-width: 769px) {
    
}

/* tablet ve küçük dizüstü bilgisayar ekran genişliği */
@media (max-width: 768px) {
    
}

/* mobil cihaz ekran genişliği */
@media (max-width: 480px) {
    
}

/* desktop ekran yüksekliği */
@media (max-height: 1080px) {
    
}

/* dizüstü bilgisayar ekran yüksekliği */
@media (max-height: 900px) {
    
}

/* küçük dizüstü bilgisayar ve büyük tablet ekran yüksekliği */
@media (max-height: 768px) {
    
}

/* mobil cihaz ekran yüksekliği */
@media (max-height: 600px) {
    
}